VITE_SUPABASE_URL=https://mlqbrayzkhsaabqrmwpj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1scWJyYXl6a2hzYWFicXJtd3BqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MjE2OTksImV4cCI6MjA5MTQ5NzY5OX0.F5LB0HeH7EX0LDfSI9VrxVOsh13P3yYFqMcWUAlJJx8